<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div th:fragment="admin-sidebar"
     style="min-width:240px; min-height:100vh; background:#1e293b; color:white; padding:20px;">
    <h4 style="font-weight:bold; margin-bottom:30px;">Admin Bus System</h4>

    <ul style="list-style:none; padding:0;">
        <li style="margin-bottom:15px;">
            <a th:href="@{/admin/dashboard}" style="color:white; text-decoration:none;">🏠 Tổng quan</a>
        </li>
        <li style="margin-bottom:15px;">
            <a th:href="@{/admin/my-profile}" style="color:#cbd5f5; text-decoration:none;">👤 Thông tin cá nhân</a>
        </li>
        <li style="margin-bottom:15px;">
            <a th:href="@{/admin/trips}" style="color:#cbd5f5; text-decoration:none;">🚌 Chuyến xe</a>
        </li>
        <li style="margin-bottom:15px;">
            <a th:href="@{/admin/tickets}" style="color:#cbd5f5; text-decoration:none;">🎫 Vé xe</a>
        </li>
        <li style="margin-bottom:15px;">
            <a th:href="@{/admin/buses}" style="color:#cbd5f5; text-decoration:none;">🚍 Xe</a>
        </li>
        <li style="margin-bottom:15px;">
            <a th:href="@{/admin/routes}" style="color:#cbd5f5; text-decoration:none;">📍 Tuyến đường</a>
        </li>
    </ul>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>