<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="d-flex" style="min-height:100vh; background:#eef2f7;">

    <!-- SIDEBAR USER -->
    <div th:replace="fragments/passenger-sidebar"></div>

    <!-- MAIN -->
    <div class="flex-grow-1">

        <!-- TOPBAR -->
        <div th:replace="fragments/admin-header :: admin-header('Vé đã đặt')"></div>

        <!-- CONTENT -->
        <div style="padding:25px;">

            <!-- CARD -->
            <div style="background:white; padding:20px; border-radius:12px;">

                <!-- HEADER -->
                <div class="d-flex justify-content-between align-items-center mb-3">

                    <h6 style="margin:0;">Danh sách vé của bạn</h6>

                    <form th:action="@{/tickets}" method="get">
                        <input type="text"
                               name="search"
                               th:value="${search}"
                               class="form-control"
                               placeholder="Tìm mã vé"
                               style="width:250px; border-radius:20px;">
                    </form>

                </div>

                <div th:if="${success}" th:text="${success}" class="alert alert-success text-center"></div>

                <div th:if="${tickets.isEmpty()}">
                    <div th:replace="fragments/not-empty"></div>
                </div>

                <!-- TABLE -->
                <table th:if="${!tickets.isEmpty()}" class="table table-hover align-middle">
                    <thead style="background:#f8f9fa;">
                    <tr>
                        <th>Mã vé</th>
                        <th>Nhà xe</th>
                        <th>Tuyến xe</th>
                        <th>Giờ khởi hành</th>
                        <th>Giá vé</th>
                        <th>Trạng thái</th>
                        <th style="text-align:center;">Hành động</th>
                    </tr>
                    </thead>

                    <tbody>

                    <tr th:each="ticket, stat : ${tickets}">
                        <td th:text="${ticket.id}"></td>
                        <td th:text="${ticket.trip.bus.company}"></td>
                        <td th:text="${ticket.trip.route.origin.name + ' - ' + ticket.trip.route.destination.name}"></td>
                        <td th:text="${#temporals.format(ticket.trip.startTime, 'HH:mm dd/MM/yyyy')}"></td>

                        <td th:text="${#numbers.formatDecimal(ticket.price, 0, 'COMMA',0, 'POINT') + 'VND'}"></td>

                        <td th:if="${ticket.status.name() == 'CANCELLED'}">
                            <span th:text="'Đã huỷ'"
                                  class="badge bg-danger"></span>
                        </td>

                        <td th:if="${ticket.status.name() == 'PAID'}" style="text-align:left;">
                            <span th:text="'Đã thanh toán'"
                                  class="badge bg-success"></span>
                        </td>

                        <td th:if="${ticket.status.name() == 'PENDING'}" style="text-align:left;">
                            <span th:text="'Đang chờ'" class="badge bg-warning text-dark"
                                  style="border-radius:15px;">
                            </span>
                        </td>

                        <td style="text-align:center;">
                            <a th:href="@{/ticket/{id}(id=${ticket.id})}" class="btn btn-sm btn-outline-primary"
                               style="border-radius:15px;">
                                Xem chi tiết
                            </a>
                            <a onclick="return confirm('Bạn có chắc chắn muốn huỷ vé?')"
                               th:if="${ticket.status.name() == 'PENDING' || ticket.status.name() == 'PAID'}"
                               th:href="@{/cancel-ticket(id=${ticket.id})}" class="btn btn-sm btn-outline-danger"
                               style="border-radius:15px;">
                                Huỷ vé
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <!-- PAGINATION -->
                <div th:if="${totalPages >= 1}" class="d-flex justify-content-end align-items-center mt-3">

                    <ul class="pagination mb-0">
                        <li class="page-item">
                            <a th:href="@{/tickets(currentPage=${currentPage -1}, search=${search})}" class="page-link">Trang trước</a>
                        </li>
                        <li th:each="i : ${#numbers.sequence(1, totalPages)}"
                            th:classappend="${currentPage == i ? 'active' : ''}"
                            class="page-item">
                            <a th:href="@{/tickets(currentPage=${i}, search=${search})}" class="page-link" th:text="${i}"></a>
                        </li>
                        <li class="page-item">
                            <a th:href="@{/tickets(currentPage=${currentPage+1}, search=${search})}" class="page-link">Trang sau</a>
                        </li>
                    </ul>

                </div>

            </div>

        </div>

    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>